<h1>Meet the Organizations</h1>

<% @profiles.each do |profile| %>
	<% if profile.user.organization %>
		<h2><%= link_to profile.full_name, profile_path(profile) %></h2>
		<h2><%= profile.user.email %></h2>
	<% end %>
<% end %>
