<div id="tf-menachem" class="text-center whatever">
    <div class="overlay">
        <div class="container events_title">

	        <div class="section-title center event-info new-title">
	        	<h1>Add a new volunteering opportunity:</h1>

	        	<em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</em>

	        </div>

	        <%= render "form" %>
        </div>
    </div>
</div>

