@mixin vertical-align {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.event_background {
    position: relative;
}

.events_image {
	@include vertical-align;
}

.section-title.center.event-title {
	padding-top: 0px;
}

.events_title {
    padding-top: 10%;

   background-color: rgba(0,0,0,.5);
}
.event_background {
    background-color: rgba(0,0,0,.5);
    height: 400px;
}

.comment-color {
    color: black;
}

.comment-text {
    margin-top: 10%;
}

.new-title {
    margin-top: 40px;
    margin-bottom: -30px;
}

.section-title.center.event-info.event-head {
    padding-top: 0;
    padding-bottom: 70px;
}

.image-size {
    width: 620px;
}

.img-responsive {
    width: 555px;
    height: 332px;
}



