@mixin vertical-align {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.event_background {
    position: relative;
}

.events_image {
	@include vertical-align;
}

.section-title.center.event-title {
	padding-top: 0px;
}

